.example-wrapper{
    max-width: 1200px !important;
}
body{
    /*background: #F6F6F6;*/
}
.primary-menu{
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: calc(100% - 60px);
    max-width: 1600px;
    margin: 0 30px;
    padding: 20px 0 12px;
    background-color: #fff;
    z-index: 10000000;
    margin: auto;
}
.secondary-menu{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0 30px;
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
    font-size: 12px;
}
.nav-left{
    display: flex;
    align-items: stretch;
    font-size: 18px;
    font-weight: 400;
}
.nav-right{
    display: flex;
    align-items: center;
    font-size: 12px;
    width: 33%;
    margin-right: 20px;
}
ul.menu-list{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin: 0;
}
ul.menu-list li{
    display: flex;
    align-items: center;
}
a.menu-link {
    color: #666;
    text-decoration: none;
    transition: color .2s ease;
    display: block;
    padding: 12px 15px;
}
a.menu-link:hover,
a.sub-menu-link:hover{
    color: #77DFE7;
    background-color: #FFF !important;
}
a.sub-menu-link{
    color: #666;
    text-decoration: none;
    transition: color .2s ease;
    display: block;
    padding: 3px 15px;
    font-size:14px;
}
.nav-left .navbar-collapse .navbar-nav
{
    position: relative;
    padding-right: 23px;
}
.nav-left .navbar-collapse .navbar-nav:nth-child(2) {
    margin-right: 35px;
    border-right: 1px solid #d4d4d4;
}
.logo-container{
    display: flex;
    align-items: center;
    width: 220px;
    overflow-x: hidden;
    transition: width .25s ease;
}
.logo-header{
    width: 250px;
    margin-right: 5px;
    position: relative;
    top: -4px;
    text-decoration: none;
    transition: width 0s,opacity .1s ease;
    opacity: 1;
}
.logo-header:hover{
    opacity: 0.8;
}
.search-bar{
    position: relative;
    z-index: 50;
    width: 100%;
    max-width: 1600px;
    padding-top: 10px;
    margin: auto;
    padding-left:50px;
    margin-bottom: 50px;
    background: #FFF;
}
#search-bar-tab{
    position: relative;
    z-index: 60;
    width: calc(100% - 60px);
    max-width: 1600px;
    margin: 0 0 -1px;
}
.nav-tabs .nav-link.active,
.nav-tabs .nav-link:hover
{
    color: #77DFE7;
}
.nav-link{
    color: #666;
}
.search-bar-text-area{
    border-right: 1px solid #d4d4d4;
    padding: 25px 15px;
    height: 89px;
    width: 300px;
    float: left;
}
.search-bar-text{
    border: none;
    padding: 10px 5px;
    min-width: 225px;
}
.cretaria-element{
    cursor: pointer;
}
.bedrooms-items .form-group label{
    cursor: pointer;
}
.range-price-area{
    padding: 4px 4px;
    height: 70px;
    width: 296px;
    float: left;
    margin-top: 18px;
    margin-left: 10px;
    margin-right: 35px;
}
.tab-content{
    border: 1px solid #d4d4d4;
    min-height: 60px;
    border-radius: 0px 10px 10px 10px;
    width: 96%;
    box-shadow: 0 2px 10px #ddd;
    min-height: 90px;
    background: #FFF;
}
.critaria-combo-1{
    margin-top: 15px;
    float: left;
}
.critaria-combo-1:last-child{
    margin-right: 0px;
}
.nav-tabs .nav-link + .nav-link{
    border-radius: 0px !important;
}
.nav-tabs .nav-link{
    border: solid 1px #d4d4d4;
}
.nav-tabs .nav-link:first-child{
    border-top-left: 10px;
}
.nav-tabs .nav-link:last-child{
    border-top-right: 10px;
}
#range-price-lbl,
#property-type,
.property-type,
#badrooms-cretaria,
#more-creteria,
.more-creteria,
#range-price-lbl,
.cities-cretaria,
#bathrooms-cretaria,
#living-area-cretaria,
#lot-size-cretaria{
    padding: 0px 10px;
    background: #77DFE7;
    border-radius: 5px;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    width: auto;
    text-align: center;
    display: flex;
    height: 23px;
    margin-right: 5px;
    margin-bottom: 5px;
    float: left;
}
.cretaria-choice{
    width: 100%;
    display: flex;
    padding: 10px 20px;
    border-top: solid 1px #d4d4d4;
}
.cretaria-text{
    float: left;
    margin-right: 10px;
}
.cretaria-remove{
    color: #2848A7;
    font-weight: 700;
    font-size: 12px;
    cursor: pointer;
    top: 3px;
    position: relative;
    right: 0;
    z-index: 0;
}
.dropdown-list-cretaria{
    border: solid 1px #d4d4d4;
    float: left;
    border-radius: 5px;
    padding: 5px !important;
    height: 40px;
    text-align: center;
    margin-top: 9px;
}
.types-properties-list{
    padding: 10px;
}
.types-properties-list input{
    margin-right: 10px;
}
.cretaria-choice-title{
    float: left;
    margin-right: 20px;
    color: #666;
}
.btn-rechercher{
    float: right;
    margin-top: 24.5px;
    margin-right: 20px;
    border: none;
    padding: 5.8px 20px;
    font-size: 18px;
    border-radius: 5px;
    color: #FFF;
    background: #006cfa;
    font-weight: 400;
}
.btn-reset-cretaria{
    border: none;
    padding: 2px 20px;
    font-size: 14px;
    border-radius: 3px;
    color: #000;
    right: 75px;
    background: rgb(239, 239, 239);
    font-weight: 500;
    position: absolute;
    width: 128px;
}
.btn-reset-cretaria:hover{
    background: #9C9C9C;
}
.btn-connexion{
    background: rgb(239, 239, 239);
    border: 1px solid rgb(212, 212, 212);
    color: rgb(102, 102, 102);
    font-size: 14px;
}
.btn-connexion:hover{
    background-color: #77DFE7;
    color: #FFF;
}
#btn-search{
    font-size: 25px;
}
/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
    padding-top: 60px;
}
.types-property-subitems .form-group{
    padding: 5px 16px;
    float: left;
    width: 100%;
}
.types-property-subitems .form-group input{
    margin-right: 5px;
    float: left;
    cursor: pointer;
}
.types-property-subitems .form-group label{
    font-size: 14px;
    margin-top: -4px;
    float: left;
    cursor: pointer;
}
.combo-cretaria-title,
.combo-cretaria-bedrooms-title,
.combo-cretaria-more-title,
.combo-cretaria-bathrooms-title,
.combo-cretaria-living-area-title,
.combo-cretaria-lot-size-title{
    border: solid 1px #d4d4d4;
    float: left;
    border-radius: 5px;
    padding: 5px 10px !important;
    height: 40px;
    text-align: center;
    margin-top: 9px;
    color: #666;
    cursor: pointer;
}
.combo-cretaria-title:hover{
    color: #77DFE7;
    text-decoration: none;
    transition: color .2s ease;
    display: block;
    padding: 12px 15px;
}
.types-property-items,
.bedrooms-items,
.other-items,
.bathrooms-items{
    display: inline;
    position: absolute;
    top: 141px;
    border: solid 1px #d4d4d4;
    margin-left: -174px;
    width: 350px;
    padding: 15px;
    background: #FFF;
    color: #666;
    z-index: 1;
    overflow-y: scroll;
    height: 300px;
}
.types-property-item{
    cursor: pointer;
    color: #666;
    width: 100%;
    float: left;
}
.hidden{
    display: none !important;
}
.ml-10{
    margin-left: 10px;
}
.cities-search-area,
.address-search-area{
    margin-top: 89px;
    position: absolute;
    border: solid 1px #d4d4d4;
    width: 350px;
    padding: 15px;
    background: #FFF;
    color: #666;
    z-index: 1;
    overflow-y: auto;
    height: 250px;
}
.address-search-area{
    padding: 0px;
    overflow-y: auto;
    width: 450px;
    min-height: 50px;
    border-radius: 5px;
    z-index: 500;
}
.address-search-item{
    border-bottom: solid 1px #666;
    padding: 20px;
}
.address-search-item:hover{
    color: #FFF;
    background-color: #77DFE7;
}
.loading{
    text-align: center;
    width: 100%;
    padding: 20px;
}
#cretaria-choices{
    width: 80%;
}
.section-title-1{
    margin-bottom: 40px;
    color: #666;
    font-weight: 600;
    text-align: center;
    font-size: 36px;
    margin-top:60px;
}
.commission-slider-container{
    width: 100%;
    margin-top: 135px;
}
.commission-slider-container .irs-single{
    font-size: 24px !important;
    font-weight: 800 !important;
    text-align: center;
    background-color: #fff !important;
    box-shadow: 0 2px 10px #ddd;
    margin-top: -105px;
    padding: 25px 46px !important;
    width: 280px;
    height: 100px;
    margin-left: 7px;
    color: #6CD8E3 !important;
}
.commission-slider-container .irs-single:before{
    position: absolute !important;
    bottom: -15px !important;
    left: 120px !important;
    height: 30px !important;
    width: 30px !important;
    transform: rotate(-45deg) !important;
    box-shadow: -2px 3px 4px #ddd !important;
    background-color: #fff !important;
    border-start-end-radius: 100% !important;
    border: none !important;
}
.commission-slider-container .irs--round .irs-bar,
.commission-slider-container .irs--round .irs-line
{
    top: 33px;
    height: 10px;
}
.commission-slider-price{
    color: #000 !important;
    font-weight: 600 !important;
    font-size: 18px !important;
    float: left;
    width: 100%;
    text-align: center;
}
.irs-min,
.irs-max{
    display: none !important
}
#commission-result-area{
    width: 100%;
    margin-top: 30px;    
}
#commission-result-area .title{
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 24px;
    font-weight: 600;
}
#commission-result-area .price{
    font-size: 24px !important;
    font-weight: 800 !important;
    text-align: center;
    width: 100%;
    color: #6CD8E3 !important;
}
#commission-result-area .description{
    width: 100%;
    text-align: center;
    color: #666;
    font-size: 11px;
}
.block-login{
    max-width: 650px;
    margin: auto;
    padding: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: 0 2px 10px #ddd;
}
.container.block-contact-form{
    margin: 50px auto;
}
.block-contact-form{
    padding: 50px;
    margin-top: 0px;
    box-shadow: 0 2px 10px #ddd;
}
#contact div{
    width: 45%;
}
#contact div:last-child{
    width: 100%;
}
.block-login button[type=submit]{
    margin-top: 15px;
    width: 100%;
}
.new-account-link{
    float: right;
    margin-top: -39px;
    text-decoration: none;
    font-size: 14px;
}
.forgot-password-link{
    width: 100%;
    text-align: center;
    float: left;
    padding: 10px 0px;
    text-decoration: none;
}
.footer{
    flex-direction: column;
    align-items: center;
    padding: 55px 0;
    background-color: #f6f6f6;
}
.footer-contact{
    justify-content: space-between;
    max-width: 1600px;
    margin-bottom: 50px;
    padding: 0px 60px;
    font-size: 30px;
}
.footer-contact p{
    color: #666;
}
.footer-contact .tel,
.footer-contact .email{
    font-size: 20px;
    text-decoration: none;
}
.footer-contact .tel .fa,
.footer-contact .social .fa{
    font-size: 25px;
}
.footer-contact .email .fa{
    font-size: 20px;
}
.footer-contact .email{
    margin-left: 50px;
}
.footer-contact-left{
    float: left;
}
.footer-contact-right{
    float: right;
}
.footer-menu{
    justify-content: space-between;
    max-width: 1600px;
    margin-bottom: 50px;
    display: flex;
    width: 100%;
    padding: 40px 60px;
}
.footer-col{
    float: left;
    width: 30%;
    margin-right: 20px;
}
.footer-col:last-child{
    margin-right: 0px;
}
.footer-col a{
    float: left;
    width: 100%;
    text-decoration: none;
    color: #666;
    font-size: 12px;
}
.footer-col a:hover{
    color: #6CD8E3;
}
.footer-menu p{
    font-weight: 500;
    font-size: 13px;
}
.user-links{
    position: absolute;
    margin-top: 45px;
    border-radius: 5px;
    border: solid 1px #666;
    width: 305px;
    padding: 20px 30px;
    box-shadow: 0 2px 10px #ddd;
    z-index: 999999;
    background: #FFF;
}
.user-links .title{
    font-size: 15px;
    font-weight: 500;
    float: left;
    width: 100%;
}
.user-links a{
    text-decoration: none;
    color: #666;
    font-size: 15px;
    float: left;
    width: 100%;
    padding: 5px 0px;
}
.user-links a i{
    float: left;
    font-size: 22px;
}
.user-links a span{
    float: left;
    margin-left: 15px;
    font-size: 15px;
}
.user-links hr{
    float: left;
    width: 100%;
}
.property-list-row{
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #d4d4d4;
    margin: 20px 50px;
    width: 92.5%!important;
    padding: 0px 10px;
}
.property-list-row .row-title{
    padding: 10px 11px 0px 10px;
    margin: 0px;
    float: left;
    width: 100%;
}
.property-list-row a i{
    color: #666;
}
.property-list-row a .property-cretaria span{
    color: #000;
    width: 23%;
    text-align: center;
    display: inline-table;
    padding: 0px;
    margin: 0px;
}
.property-item{
    padding: 0px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #d4d4d4;
    display: inline-block;
    width: 30%;
    margin-bottom: 26px;
    margin-right: 26px;
}
.property-item .price{
    font-size: 18px;
    font-weight: 500;
    color: #666;
    margin: 0;
    margin-bottom: 5px;
}
.property-item .city,
.property-item .street{
    font-size: 14px;
    color: #000;
    margin: 0;
    font-weight: 500;
}
.property-item .description{
    margin-top: 10px;
    font-size: 13px;
    color: #000;
}
.add-favorit{
    float: right;
    margin-top: 5px;
    color: #DFDDDD!important;
}
.add-favorit:hover,
.add-favorit.active{
    color: #666!important;
    background-color: transparent!important;
}
.property-cretaria span{
    width: 25%;
    text-align: center;
    padding: 0px;
    margin: 0px;
}
.pointer{
    cursor: pointer;
}
.property-item-img{
    width: 100%;
    height: 185px;
    overflow: hidden;
    margin-bottom: 20px;
}
.property-item-img img{
    width: 100%;
}
.property-item-content{
    padding: 10px;
}
.property-item-content .price{
    font-size: 18px;
    font-weight: 600;
    margin: 0px;
}
.property-item-content .city{
    margin: 5px 0px 0px;
    font-size: 18px;
}
.property-item-content .street{
    font-size: 18px;
}
.property-item-content .description{
    height: 45px;
}
.property-cretaria {
    display: flex;
    padding: 0px 10px 10px 10px;
}
.featured-homes-carousel {
    width: 92.5%!important;
    position: relative;
    margin: 10px 50px!important;
    background: #FFF;
    border: 1px solid #d4d4d4;
    height: 180px!important;
    border-radius: 10px;
    padding: 10px;
}
#myCarousel{
    height: 120px;
    overflow: hidden;
    margin-top: 10px;
}
.carousel-inner{
    height: 100%;
}
.carousel-control-prev{
    padding: 24px 16px 24px 10px;
    border-radius: 0 50px 50px 0;
    border-left: 0;
    background: #FFF!important;
    border: 1px solid #d4d4d4;
    height: 80px;
    opacity: 1;
    margin-top: 20px;
    width: 40px!important;
    border-left: none;
    margin-left: 12px;
}
.carousel-control-next{
    padding: 24px 10px 24px 16px;
    border-radius: 50px 0 0 50px;
    border-left: 0;
    background: #FFF!important;
    border: 1px solid #d4d4d4;
    height: 80px;
    opacity: 1;
    margin-top: 20px;
    width: 40px!important;
    margin-right: 12px;
    border-right: none;
}
.carousel-item{
    height: 100%!important;
    width: 70%;
}
.carousel-item .img-fluid{
    height: 100%;
    width: 95%;
    border-radius: 5px;
}
.carousel-control-next-icon,
.carousel-control-prev-icon{
    color: #666;
    font-size: 20px;
    height: auto !important;
    background-image: none!important;
    font-weight: 600;
}
.carousel-title{
    font-size: 19px;
    color: #666;
    margin: 0px;
    height: 10px;
}
.nbr-property-found{
    color: #77DFE7;
    float: left;
    margin-right: 10px;
    font-weight: 500;
    font-size: 18px;
}
.cms-top{
    background: #77DFE7;
    color: #FFF;
    padding: 45px 200px;
}
.example-wrapper.cms{
    margin: 0;
    width: 100%;
    max-width: 100%!important;
}
.cms-body{
    padding: 45px 200px;
}
.cms-content-border{
    border: solid 1px #77DFE7;
    padding: 30px;
    height: auto !important;
    max-height: 500px!important;
    display: flex;
    margin-bottom: 50px;
}
.cms-content{
    width: 50%;
    height: 200px;
    padding: 30px 40px;
    font-size: 28px;
}
.cms-content + .cms-content{
    padding: 20px 40px;
}
.border-right{
    border-right: solid 1px #77DFE7;
}
.cms-content .title{
    font-size: 25px;
    font-weight: 600;
    color: #77DFE7;
}
.cms-content .title .fa-envelope-open{
    font-size: 20px;
    margin-top: 7px;
    float: left;
    margin-right: 7px;
}
.cms-content .desc{
    font-size: 17px;
}
.half-width{
    width: 50%;
}
.put-left{
    float: left;
}
.block-contact-form .btn{
    margin-top: 20px;
}
.block-contact-form h1{
    margin-bottom: 20px;
    font-size: 28px;
}
h1.cms-title{
    margin-bottom: 5px;
    font-size: 28px;
    color: #77DFE7;
}
.faq-list{
    padding: 0px 25px;
    list-style: none;
    color: #666;
    font-size: 20px;
    margin-bottom: 40px;
}
.faq-list li a{
    color: #666;
    text-decoration: none;
}
.faq-list li a:hover{
    color: #FFF;
    background: #666;
    padding: 5px;
}
.faq-list li a div:hover{
    color: #FFF;
    background: #666;
    padding: 5px;
}
.faq-block{
    padding: 40px 0px;
    border-top: 1px solid rgb(212, 212, 212);
}
.faq-block .question{
    color: #77DFE7;
    font-size: 20px;
}
.back-top{
    float: right;
    text-decoration: none;
    color: #77DFE7;
}
.back-top:hover{
    color: #666;
}
#result-section ul.items{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0px;
}
#result-section ul.items li.item{
    display: flex;
    width: 31%;
    position: relative;
    flex-direction: column;
    align-items: stretch;
    border: 1px solid #d4d4d4;
    background: #FFF;
    border-radius: 4px;
    box-shadow: rgb(0 0 0 / 10%) 0 0 8px;
    margin: 10px;
}
#result-section ul.items li.item a{
    text-decoration: none;
    color: inherit;
}
.pricing-list{
    width: 100%;
    display: flex;
    margin-top: 40px;
}
.princing-block{
    width: 33%!important;
    border: solid 1px #666;
    float: left;
    margin-right: 4px;
    border-radius: 10px;
    padding: 40px 35px;
    height: auto;
    text-align: center;
    box-shadow: 0 2px 10px #ddd;
}
.title.package-bronze{
    color: rgb(173, 138, 86);
    margin: 8px 0px;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.1;
}
.title.package-silver{
    color: rgb(180, 180, 180);
    margin: 8px 0px;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.1;
}
.title.package-gold{
    color: rgb(212, 175, 55);
    margin: 8px 0px;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.1;
}
.pricing-price{
    font-size: 40px;
    font-weight: 600;
    color: rgb(51, 51, 51);
}
.subtitle{
    font-size: 1.25rem;
    font-weight: 700;
    text-align: center;
}
.subtitle-home-div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
}
.subtitle-home{
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
    color: #666;
}
.all-width{
    width: 100%;
}
.mt-20{
    margin-top: 20px;
}
.mb-20{
    margin-bottom: 20px;
}
ul.pricing-options{
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
}
ul.pricing-options li{
    color: #666;
    width: 100%;
    font-size: 13px;
    margin: 15px 0px;
    cursor: pointer;
}
li.disabled{
    color: rgb(190, 190, 190);
    text-decoration: line-through;
}
.put-right{
    float: right;
}
.put-left{
    float: left;
}
.modal-header .close{
    border: none;
    background: #FFF;
    font-size: 50px;
    font-weight: 100;
    padding: 0;
    margin: 0;
    height: 10px;
    line-height: 10px;
}
.other-criterias-items{
    width: 450px;
    position: absolute;
    background: #FFF;
    border: solid 1px #d4d4d4;
    margin-left: -136px;
    margin-top: 74px;
    padding: 15px;
    z-index: 999;
    color: #666;
}
.bathrooms-items{
    top: 70px;
    margin-left: -55px;
    width: 80px;
    border-radius: 5px;
    height: 272px;
    overflow: hidden;
}
.living-area-items{
    top: 117px;
    margin-left: 155px;
    width: 64px;
    position: absolute;
    border-radius: 5px;
    height: auto;
    overflow: hidden;
    background: #FFF;
    border: solid 1px #666;
    padding: 7px 7px;
}
.living-area-items.max{
    margin-left: 230px;
    height: auto;
}
.lot-size-items{
    top: 167px;
    margin-left: 156px;
    width: 64px;
    border-radius: 5px;
    height: auto;
    position: absolute;
    overflow: hidden;
    background: #FFF;
    border: solid 1px #666;
    padding: 7px;
}
.lot-size-items.max{
    margin-left: 230px;
    height: auto;
}
.more-criterias-label{
    margin-top: 15px;
    margin-right: 15px;
    width: 130px;
}
.other-criteria-item{
    float: left;
    width: 100%;
}
.living-area-max,
.living-area-min,
.lot-size-min,
.lot-size-max{
    background: #FFF;
    margin-bottom: 5px;
    border-radius: 5px;
    float: left;
    width: 100%;
    text-align: center;
    cursor: pointer;
}
.living-area-max:hover,
.living-area-max.active,
.living-area-min:hover,
.living-area-min.active,
.lot-size-min:hover,
.lot-size-min:active,
.lot-size-max:hover,
.lot-size-max:active{
    background: #77DFE7;
    color: #FFF;
}
.form-group label{
    cursor: pointer;
}
.map-desc{
    width: 330px!important; 
    height: 90px!important;
}
.map-img{
    width: 40%; 
    height: 100%; 
    float: left;
}
.map-img img{
    width: 100%;
    height: 100%;
}
.map-desc-text{
    float: right; 
    width: 60%; 
    height: 100%; 
    padding: 12px; 
    overflow: hidden;
}
.map-desc-text .price{
    width: 100%; 
    float: left; 
    margin: 0px; 
    padding: 0px; 
    font-size: 19px;
    font-weight: 500;
    color: #77DFE7;
}
.map-desc-text .city{
    width: 100%; 
    float: left; 
    margin: 0px; 
    padding: 0px; 
    font-size: 12px; 
    color: #666;
}
.map-desc-text .street{
    width: 100%; 
    float: left; 
    margin: 0px; 
    padding: 0px; 
    font-size: 12px; 
    color: #666;
}
#registration div{
    margin-bottom: 15px;
}
.no-result{
    text-align: center;
    padding: 50px 0px;
    margin: 0;
}
.profile-content-body{
    padding: 0;
    margin: 0;
    width: 100%!important;
    margin-top: 30px; 
    border: none
}
.table thead{
    background: rgb(239, 239, 239);
    color: rgb(102, 102, 102);
    border: 1px solid rgb(212, 212, 212);
}
.profile-frm{
    display: flex;
}
.div-frm .frm-group label{
    width: 100%;
}
.div-frm .form-group input,
.div-frm .form-group select{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: solid 1px #666;
    padding: 5px;
    margin-bottom: 15px;
}
.div-frm .form-group textarea{
    width: 100%;
    margin-bottom: 15px;
    border-radius: 5px;
    border: solid 1px #666;
    padding: 5px;
}
.div-frm{
    width: 100%;
    margin-bottom: 20px;
}
.div-frm-half-pl-50{
    width: 50%;
    padding-left: 50px;
}
.div-frm-half-pr-50{
    width: 50%;
    padding-right: 50px;
}
.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.frm-group-title{
    width: 100%;
    margin-bottom: 25px;
    float: left;
}
.frm-group-title span{
    width: auto;
    margin-right: 20px;
    color: #77DFE7;
    font-weight: 500;
    font-size: 24px;
    float: left;
}
.frm-group-title hr{
    height: 2px;
    width: auto;
    background:  #666;
}
.profile-body{
    padding: 45px 100px;
}
.div-btn-frm{
    border-top: solid 2px #adb5bd;
    padding-top: 25px;
}
.star{
    color: #FF0000;
}
.div-picture{
    width: 238px;
    display: inline-block;
    height: 240px;
    border: solid 1px #666;
    text-align: center;
    margin: 10px;
    border-radius: 5px;
}
.div-picture-content-img{
    float: left;
    width: 94%;
    border: solid 5px rgb(212, 212, 212);
    height: 75%;
    border-radius: 5px;
    margin: 8px;
}
.div-picture .btn{
    width: 94.5%;
}
#add-new-picture{
    margin-bottom: 10px;
    text-align: left;
}
.picture-delete{
    position: absolute;
    margin-left: -45px;
    margin-top: 16px;
    background: #FFF;
    padding: 1px 8px;
    color: #666;
    cursor: pointer;
}
.my-pack-date{
    font-size: 12px;
    font-weight: 500;
    color: #666;
}
.no-margin{
    margin: 0;
}
.no-padding{
    padding: 0;
}
.profile-section-border{
    border: 1px solid #d4d4d4;
    border-radius: 10px;
    padding: 50px 30px;
}
.link-create-alert{
    margin: auto;
    width: 140px;
    display: block;
    margin-bottom: 26px;
}
.payment-form-group{
    padding:10px;
}
.detail-col1{
    width: 80%;
    padding: 20px;
}
.detail-col2{
    width: 20%;
}
#myCarouselDetail{
    width: 100%;
    height: 455px;
    border-radius: 10px 10px 0px 0px;
}
#myCarouselDetail .carousel .carousel-inner > .item > img {
    width:640px;
    height:360px;
  }
#myCarouselDetail .carousel-item{
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}
#myCarouselDetail .carousel-inner{
    border-radius: 10px 10px 0px 0px;
}
#myCarouselDetail .carousel-item img{
    border-radius: 10px 10px 0px 0px;
}
#myCarouselDetail .carousel-control-prev,
#myCarouselDetail .carousel-control-next{
    margin-top: 230px;
    margin-left: 0px;
    margin-right: 0px;
}
.detail-content{
    position: relative;
    z-index: 0;
    width: 100%;
    max-width: 1600px;
    padding-top: 10px;
    margin: auto;
    padding-left: 50px;
}
.detail-col1{
    width: 69%;
    margin-right: 25px;
    background: #f6f6f6;
    border: 1px solid #d4d4d4;
    border-radius: 10px 10px 0px 0px;
    padding: 0;
    float: left;
    height: 457px;
}
.detail-col2{
    background: #f6f6f6;
    border: 1px solid #d4d4d4;
    border-radius: 10px 10px 0px 0px;
    width: 25%;
    float: left;
}
.carousel-item img{
    width: 100%!important;
}
.detail-price{
    font-size: 28px;
    color: #333;
    font-weight: 700;
    padding: 20px 20px 10px 20px;
}
.detail-title{
    font-size: 28px;
    color: #333;
    font-weight: 700;
    padding: 20px;
}
.detail-type{
    color: #333;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    padding: 0px 20px;
}
.detail-address{
    color: #333;
    font-size: 12px;
    font-weight: 600;
    padding: 0px 20px;
}
.detail-contact{
    background: #77DFE7;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    height: auto;
    margin-top: 20px;
    padding-bottom: 40px;
    float: left;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}
.detail-contact-title{
    display: block;
    font-size: 20px;
    margin: 0;
    width: 100%;
    padding: 20px;
    margin-bottom: 5px;
}
.detail-contact-item{
    color: #666;
    border: solid 1px #666;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    width: 100%;
    float: left;
    margin-bottom: 15px;
}
.detail-contact-item a{
    text-decoration: none;
    color: inherit;
}
.property-params{
    border-radius: 10px;
    border: 1px solid #d4d4d4;
    position: relative;
    margin: auto;
    width: 96%;
    float: left;
    margin-left: 0;
    padding: 40px;
    margin-bottom: 30px;
    padding-bottom: 20px;
}
.property-params div{
    width: 20%;
    float: left;
    margin-bottom: 20px;
}
.property-desc{
    border-radius: 10px;
    border: 1px solid #d4d4d4;
    position: relative;
    margin: auto;
    width: 96%;
    float: left;
    margin-left: 0;
    padding: 40px;
    margin-bottom: 30px;
    padding-bottom: 20px;
}
.irs--round .irs-handle{
    cursor: pointer;
}

/* Style the navigation menu */
.topnav {
    display: none;
    overflow: hidden;
    background-color: #333;
    position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
    display: none;
}

/* Style navigation menu links */
.topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    background: #666;
}

/* Style the hamburger menu */
.topnav a.icon {
    background: #666;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
    text-decoration: underline;
}

/* Style the active link (or home/logo) */
.active {
    background-color: #77DFE7;
    color: white;
}

.search-toolbar{
    background: none!important;
}

#address-autocomplete{
    border: solid 1px #666;
    border-radius: 5px;
    height: 200px;
    overflow-y: auto;
}

.address-autocomplete-item{
    background: #FFF;
    color: #666;
    padding: 10px 15px;
    font-size: 14px;
    cursor: pointer;
    border-bottom: solid 1px #666;
}

@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .nav-link{   }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
}

@media all and (max-width: 992px) {
    .detail-content{
        margin-left: 0;
        padding: 25px;
        padding-top: 0px;
    }
    .detail-col1{
        width: 100%;
        margin: 0;
        margin-left: 0 !important;
        border-radius: 10px;
    }
    .detail-col2{
        width: 100%;
        margin-top: 25px;
        border-radius: 10px;
    }
    .detail-contact{
        border-radius: 0px 0px 10px 10px;
    }
    .subtitle-home{
        padding: 25px 5px;
    }
    .block-contact-form div{
        width: 100%;
    }
    .cms-content-border{
        height: 460px!important;
        display: block;
        padding: 40px;
        margin: 0;
        margin-bottom: 40px;
    }
    .cms-content{
        width: 100%;
        padding: 0px;
        margin: 0;
        border: none;
        height: 150px;
    }
    .cms-content + .cms-content {
        padding: 0px;
    }
    .topnav{
        display: block;
    }
    .search-bar{
        height: auto;
        display: grid;
        margin-left: 0px;
        width: 100%;
        padding: 20px;
    }
    .cities-search-area,
    .address-search-area{
        width: 92.5%;
        z-index: 1000000;
    }
    .tab-content{
        height: 100%;
        width: 100%;
        padding: 30px 0px;
        margin-left: 0px!important;
    }
    .search-bar-text-area{
        border: none;
        border-bottom: solid 1px #d4d4d4;
        width: 100%;
    }
    .search-bar-text{
        width: 90%;
    }
    .range-price-area{
        width: 95%;
    }
    .combo-cretaria-title{
        width: 100%;
    }
    .combo-critaria.critaria-combo-1{
        float: left;
        width: 98.7%;
        margin-left: 5px;
        margin-right: 5px;
    }
    .types-property-items{
        top: 343px;
        left: 200px;
        height: 135px;
        width: 91.2%;
    }
    .bedrooms-items{
        top: 396px;
        left: 200px;
        height: 275px;
        width: 91.2%;
    }
    .combo-cretaria-bedrooms-title{
        width: 100%;
        margin: 0px;
    }
    .combo-cretaria-more-title{
        width: 100%;
        margin: 0px;
    }
    .btn-rechercher{
        width: 98%;
        margin-left: 5px;
        float: left;
    }
    .other-criterias-items{
        left: 162px;
        top: 377px;
        width: 91%;
        height: 190px;
    }
    .btn-reset-cretaria{
        width: 90.4%;
        height: 40px;
        border-radius: 5px;
        left: 27px;
    }
    .cretaria-choice-title{
        margin-top: 50px;
    }
    #cretaria-choices{
        margin-top: 50px;
    }
    .cretaria-choice {
        width: 100%;
        display: flex;
        padding: 20px 20px;
        border-top: solid 1px #d4d4d4;
        margin-top: 20px;
        float: left;
    }
    .footer{
        height: auto;
        float: left;
        padding-bottom: 0px;
        width: 100%;
    }
    .footer-contact-left .tel{
        float: left;
        width: 100%;
        margin-left: 0px;
        margin-bottom: 10px;
    }
    .footer-contact-left .email{
        float: left;
        width: 100%;
        margin-left: 0px;
    }
    .footer-contact-right{
        width: 100%;
        margin-top: 50px;
    }
    .footer-menu{
        display: block;
    }
    .footer-menu .footer-col{
        float: left;
        width: 100%;
        margin-right: 20px;
        margin-left: 0;
        margin-top: 50px;
    }
    .footer-menu .footer-col:last-child{
        margin-bottom: 50px;
    }
    .profile-frm{
        display: block;
    }
    .div-frm{
        width: 100%;
        margin: 0px;
        padding: 0px;
        margin-top: 20px;
    }
    .profile-body{
        padding: 20px;
    }
    .div-btn-frm{
        padding: 20px 0px;
    }
    .div-btn-frm .btn{
        width: 100%;
        margin-bottom: 20px;
    }
    .form-group{
        width: 100%;
    }
    .block-contact-form .btn{
        width: 100%;
    }
    .cms-top{
        padding: 20px;
    }
    .cms-body {
        padding: 20px;
    }
    .featured-homes-carousel{
        display: none;
    }
    .property-list-row{
        width: 92%!important;
        display: block;
        margin: 0px 20px;
    }
    #result-section ul.items li.item{
        width: 100%;
    }
    .block-questions{
        padding: 20px;
    }
    .pricing-list{
        display: block;
    }
    .princing-block{
        width: 100%!important;
        margin-bottom: 30px;
    }
    .payment-form-group{
        width: 100%;
    }
}