{% extends 'base_map.html.twig' %}

{% block title %}Billow - Search by map{% endblock %}

{% block body %}

<div id="result-section" class="property-list-row">
    <div id="map"></div>
</div>

{% endblock %}
