{% extends 'base.html.twig' %}

{% block title %}Hello CMSController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper cms">
    <div class="cms-top" style="background-image: url('/img/sell-property-2.jpg');height: 350px;background-size: cover;background-position: center;">
        <h1 style="font-size: 5rem;text-align: center;margin-top: 80px;font-weight: 700">Selling with Billow</h1>
    </div>
    <div id="block-questions" class="cms-body">
        <h1 class="cms-title">{{ sellPage.title }}</h1>

        {{ sellPage.content | raw }}
    </div>
</div>
{% endblock %}
